body {
  background-color: whitesmoke;
  padding: 12px;
  max-width: 70%;
  margin: auto;
}

h1 {
  font-size: large;
  font-weight: bold;
  color: black;
  text-align: center;
  font-family: monospace;
  text-decoration: none;
}

.img {
  height: 200px;
  width: 150px;
  display: block;
  border-radius: 1em;
}

h2 {
  color: black;
  font-size: large;
  font-family: monospace;
  font-weight: bold;
  text-align: center;
}

h4 {
  color: black;
  font-size: medium;
  font-family: arial;
  font-weight: normal;
  line-height: 1.4em;
}

div {
  font-size: 17px;
  line-height: 1.6em;
  font-family: Arial;
  text-align: justify;
}

p {
  font-size: 18px;
  line-height: 2em;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  text-decoration: underline;
}

nav {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-family: Arial;
  font-weight: normal;
  text-decoration: none;
}

li {
  line-height: 1.4em;
  text-decoration: none;
}

a {
  text-decoration: underline;
  color: darkslateblue;
}

a:hover {
  color: blue;
  text-decoration: none;
}

footer {
  text-align: left;
  color: gray;
  text-decoration: none;
}

.note {
  color: darkblue;
  text-decoration: solid;
}
